[Unit]
Description=Icecast Audio Streaming Server [REC]
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/icecast-rec
ExecStartPre=/usr/bin/xsltproc \
	--stringparam server-hostname ${SERVER_HOSTNAME} \
	--stringparam server-location ${SERVER_LOCATION} \
	--stringparam server-admin ${SERVER_ADMIN} \
	--stringparam server-port ${SERVER_PORT} \
	--stringparam pwd-source ${PWD_SOURCE} \
	--stringparam pwd-relay ${PWD_RELAY} \
	--stringparam pwd-admin ${PWD_ADMIN} \
	-o /run/icecast-rec/icecast.xml \
	/usr/lib/icecast-rec/icecast.xsl /etc/icecast-rec.xml
ExecStart=/usr/bin/icecast -c /run/icecast-rec/icecast.xml
RuntimeDirectory=icecast-rec
PIDFile=/run/icecast-rec/pid
User=nobody
Group=nobody
ProtectSystem=yes
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target

